<h2 class="muted-text">Bitcoin Holdings in Spot ETFs</h2>
<div class="mt-4 p-0 muted-text">

    <p>This chart provides a detailed comparison of Bitcoin balances within addresses tied to five key spot Bitcoin ETFs:</p>
    <ul>
        <li>iShares Bitcoin Trust (IBIT)</li>
        <li>Bitwise Bitcoin Fund (BITB)</li>
        <li>VanEck Bitcoin Trust (HODL)</li>
        <li>21Shares Bitcoin ETP (ARKB)</li>
        <li>WisdomTree Bitcoin Fund (BTCW)</li>
    </ul>
    <p>The x-axis plots a timeline from the launch dates of these ETFs to the present, illustrating the historical progression and current status of Bitcoin holdings for each fund. The y-axis measures the amount of Bitcoin (in BTC) held by each ETF, facilitating a visual comparison of their portfolio sizes over time.</p>
    <p>Distinct color codes and markers identify each ETF, with their respective trajectories plotted to show increases or decreases in their Bitcoin holdings. Annotations on the chart highlight key events or trends, such as significant acquisitions or disposals of Bitcoin, correlating these movements with broader market dynamics or specific decisions made by the fund managers.</p>
    <p>This visualization serves not only as a valuable tool for investors and analysts to compare the performance and strategies of these ETFs but also offers insights into the wider trends of institutional involvement in the cryptocurrency market. It underscores the growing integration of Bitcoin into conventional financial products and the diverse approaches taken by fund managers in navigating the cryptocurrency landscape.</p>
</div>