<h2 class="muted-text">Coin Days Destroyed</h3>
<div class="mt-4 p-0 muted-text">
  <p>This chart visualizes the metric known as Coin Days Destroyed (CDD), an important indicator used to assess the economic activity on the Bitcoin network. CDD measures the total number of coin days destroyed through transactions, providing insights into the age of Bitcoins being spent.</p>
  <ul>
    <li><strong>Concept of Coin Days Destroyed:</strong> Coin Days Destroyed are calculated by multiplying the amount of Bitcoin moved in a transaction by the number of days it has been held since last moved. This metric helps in understanding whether older or newer coins are being transacted, which can indicate investor behavior and market sentiment.</li>
    <li><strong>Market Impact:</strong> High values of CDD suggest that large amounts of older coins are being moved, which might indicate that long-term holders are cashing out or reallocating their portfolios. Conversely, low values can suggest that the market is mostly stagnant, with fewer older coins being moved, implying holder confidence and potential market accumulation phases.</li>
    <li><strong>Economic Insights:</strong> By tracking CDD, analysts can infer potential market pressure points. Sudden spikes in CDD often precede significant market movements, as long-term holders are believed to have better market timing than average investors.</li>
  </ul>
  <p>This chart is essential for investors and analysts looking to gauge the strength of market movements and to understand the dynamics of Bitcoin spending, particularly focusing on the age and activity of coins within the ecosystem.</p>
</div>
