
body {
    font-family: "DM Sans", sans-serif !important;
}  

ul {
  list-style-type: square;
}

p, a, div, span {
    tab-size: 4;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
}

.logo-band img {
    height: 35px;
    margin: 5px;
}

.block-info-box {
  font-size: 10px;
}



:root {
    --bs-border-color: #17181e;
    --bs-main-text-color: #fff;
    --bs-muted-text-color: #adb1b8;
    --bs-faded-text-color: #57585a;
    --bs-border-grey: #191a1d;
    --bs-border-grey-light: #272828;
    --bs-text-size-small: 12px;
    --bs-text-size-medium: 14px;
    --bs-bitcoin-color: #f7931a;
    --bs-nav-link-color: #adb1b8;
    --bs-color-green: rgba(32, 178, 108);
    --bs-color-red: #e04040;
}

.grey-bottom-border {
    border-bottom: 1px solid var(--bs-border-grey);
}

.grey-bottom-border-light {
  border-bottom: 1px solid var(--bs-border-grey-light);
}

.main-text {
    color: var(--bs-main-text-color);
}

.muted-text {
    color: var(--bs-muted-text-color);
}

.faded-text {
    color: var(--bs-faded-text-color);
}

.small-text {
    font-size: var(--bs-text-size-small);
    
}

.price-diff-module {
  padding: 0px;
}

.price-diff-module .price-diff-header {
  color: var(--bs-faded-text-color);
  font-size: 12px;
  text-transform: uppercase !important;
}

.price-diff-module .price-diff-value {
  color: var(--bs-muted-text-color);
  font-size: 15px;
  text-transform: uppercase !important;
}

.price-diff-module .price-diff-value i {
  padding: 0px;
  margin: 0px;
}


.price-diff-module-small .price-diff-header {
  font-size: 9px !important;
}

.price-diff-module-small .price-diff-value {
  font-size: 11px !important;
}

#btc-price {
  font-size: 30px;
  color: #9f5b09;
  font-weight: 200;
  text-align: left;
}

.small-dark-label {
  color: var(--bs-faded-text-color);
  text-transform: uppercase !important;
  font-size: 13px;
}

.small-white-label {
  color: var(--bs-muted-text-color);
  font-size: 13px;
  line-height: 13px; padding-left: 5px;
}

.bitcoin-price-value {
  line-height: 13px; padding-left: 5px;
}

a.mobile-button {
  font-size: 22px !important;
  padding: 0px 5px !important;
  margin-right: 0px !important;
}

a.mobile-button.active {
  font-size: 22px !important;
  padding: 0px 5px !important;
  margin-right: 0px !important;
}

a.mobile-button-small {
  font-size: 15px !important;
  padding: 0px 7px !important;
}

a.mobile-button-small.active {
  font-size: 15px !important;
  padding: 0px 7px !important;
}

.main-menu-items .nav-link {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.submain-menu-items .nav-link {
  padding-left: 5px !important;
  padding-right: 5px !important;
  fint-size: 12px !important;
}

.btc_bg {
  padding-left: 80px;
  background-image: url('/static/img/Bitcoin-Logo.png'); /* Path to your image */
  background-size: 90px; /* Ensures the image covers the entire div */
  background-position: top left; /* Centers the image */
  background-repeat: no-repeat; 
  height: 55px;
}

.nav-link {
    font-size: 12px !important;
    text-transform: uppercase !important;
}

.nav-link-main {
  font-size: 14px !important;
  padding-bottom: 3px !important;
}

.nav-link-main.active {
  font-size: 14px !important;
  padding-bottom: 3px !important;
}

.nav-link i {
    padding-right: 3px !important;
    border-bottom: 2px solid transparent !important;
    border-radius: 0px !important;
}

.nav-link.active {
    color: var(--bs-main-text-color) !important;
    background-color: transparent !important;
    border-bottom: 2px solid #f7931a !important;
    border-radius: 0px !important;
}

.nav-link-light {
    padding: 3px 5px !important;
}

.nav-link-light.active {
    border-bottom: 1px solid #f7941a98 !important;
}

.modebar {
    display: none !important;
}

.mined-block {
    border: 0px; 
    text-align: center; 
    background-color: #16171a !important; 
    padding-bottom: 30px; 
    padding-top: 30px;
    border-radius: 5px !important;
    box-shadow: 0 0 0px #000;
    transition: transform 1s, box-shadow 1s;
}

.mined-block a.block_url {
    color: #f7931a !important;
}

.mined-block a.block_url:hover {
    color: #f9ab4b !important;
}

.mined-block:hover {
    transition: transform 1s, box-shadow 1s;
    box-shadow: 0 0 10px #f7931a;
}

.highlighted-block {
    background-color: #f7931a !important;
    color: var(--bs-main-text-color);
}

.highlighted-block a.block_url {
    color: var(--bs-border-color) !important;
}

.highlighted-block a.block_url:hover {
    color: var(--bs-faded-text-color) !important;
}

.highlighted-block small {
    color: var(--bs-main-text-color) !important;
}

.dashboard-list .row {
    padding: 3px 0px;
    border-bottom: 1px solid rgb(62, 62, 62);
}

.dashboard-list .row .col {
    font-size: 13px;
}

.dashboard-element-label {
    color: var(--bs-main-text-color);
    font-size: 13px !important;
}

.dashboard-element-value {
    color: var(--bs-muted-text-color);
    font-weight: 700;
}

.change_plus {
    color: var(--bs-color-green) !important;
}

.change_minus {
    color: var(--bs-color-red) !important;
}

.change_none {
    color: var(--bs-muted-text-color);
}

.standard-chart-panel {
    border-radius: 10px;
    background-color: #16171a !important;
}

.standard-chart-panel i{
  margin-right: 10px;
}

.pulse-div {
    animation: pulse 2.5s infinite; /* Applies the pulse animation */
    animation: glow 2.5s infinite;
}

.btn {
  color: var(--bs-muted-text-color) !important;
}

.btn.active {
  background-color: var(--bs-bitcoin-color) !important;
  color: var(--bs-border-grey) !important;
}


.stats-table, .stats-table th, .stats-table tr, .stats-table td {
  background-color: transparent !important;
}

.stats-table th {
  color: var(--bs-faded-text-color);
  font-size: 10px;
  text-transform: uppercase !important;
  text-align: right;
}

.stats-table tr {
  border-bottom: 1px solid #1e1f22;
}

.stats-table td {
  color: var(--bs-muted-text-color);
  font-size: 12px;
}

.stats-table .main-stat-name {
  color: var(--bs-muted-text-color);
}

.stats-table .main-stat-values {
  color: var(--bs-main-text-color);
  text-align: right;
}

.powered-by {
  
  border-radius: 5px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 20px;
}

.powered-by li {
  margin: 10px;
  border-radius: 10px;
  background-color: #e0e2e7;
}

.powered-by img {
  height: 70px;
  padding: 10px;
}

.blockspotlight-story p {
  font-size: 14px;
  padding: 0px 40px;
}

.blockspotlight-story h4 span {
  font-size: 14px;
}

.hide-scrollbar {
  overflow: auto; /* Ensure content is scrollable */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.footer-message {
  font-size: 25px;
}

.blockspotlight-story p{
  text-align: center;
  margin-bottom: 20px;
  color: #979a9f;
}

.blockspotlight-story h3, h4 {
  text-align: center;
  padding: 10px 0px;
}

.blockspotlight-story h3 {
  font-size: 22px;
}

.blockspotlight-story h4 {
  font-size: 19px;
}

@media (min-width: 992px) {
  .w-lg-40 {
    width: 40% !important;
  }
  
  .mw-lg-25 {
    max-width: 25% !important;
  }
  
  .mw-lg-50 {
    max-width: 50% !important;
  }

  .footer-message {
    font-size: 40px;
  }
}



  @keyframes glow {
    0%, 100% {
      box-shadow: 0 0 5px #f7931a;
      opacity: 1;
    }
    50% {
      box-shadow: 0 0 10px #f7931a;
      opacity: 0.6;
    }
  }

  @keyframes glow2 {
    0% {
      box-shadow: 0 0 5px #f7931a;
      opacity: 1;
    }
    50%, 100% {
      box-shadow: 0 0 10px #f7931a;
      opacity: 0.6;
    }
  }

  /* Keyframes for the pulsing effect */
  @keyframes pulse {
    0% {
      opacity: 0.9;
    }
    50% { /* Slightly enlarges the div */
      opacity: 0.85; /* Reduces the opacity */
    }
    100% {
      opacity: 0.9;
    }
  }


@media (min-width: 1900px) {
  
    .dashboard-chart-panel {
      width: 30% !important;
      min-width: 400px;
    }

    .dashboard-info-panel {
      min-width: 400px;
      min-height: 500px;
    }

  }

  @media (max-width: 768px) {
    .megamenu {
      margin-left: 0;
      margin-right: 0;
    }
    .megamenu > li {
      margin-bottom: 30px;
    }
    .megamenu > li:last-child {
      margin-bottom: 0;
    }
    .megamenu.dropdown-header {
      padding: 3px 15px !important;
    }
    .navbar-nav .open .dropdown-menu .dropdown-header {
      color: #fff;
    }

    .price-diff-module .price-diff-value {
      font-size: 10px !important;
    }
    
    #btc-price {
      font-size: 20px !important;

    }

    .bitcoin-meta-value {
      font-size: 10px !important;
    }
  }

  @media (max-width: 992px) {
    .scrollable-menu {
      max-height: 500px; 
      overflow-y: scroll;
    }

    .dashboard-info-panel {
      width: 100% !important;
      min-height: 500px;
    }


    .nav-link {
      padding: 10px 0px !important;
    }

    .navbar-collapse {
      padding-bottom: 10px;
    }

    .dropdown-item > ul > li, .dropdown-item > ul > li > a {
      padding-left: 5px !important;
    }
  }


  @media (min-width: 768px) {
    .dashboard-info-panel {
      min-width: 340px;
      min-height: 500px;
    }

  }
  
  
  @media (max-width: 1400px) {

    .dashboard-info-panel {
      width: 100% !important;
      min-height: 500px;
    }

    .dashboard-chart-panel {
      width: 100% !important;
    }

  }

  @media (min-width: 1400px) {
    .dashboard-chart-panel-v2 {
      width: 50% !important;
    }
  }
  
  

  @media (min-width: 1900px) {

    .dashboard-chart-panel {
      width: 40% !important;
      min-width: 400px;
    }

    .dashboard-info-panel {
      min-width: 400px;
      min-height: 500px;
    }

  }