{% extends "base.html" %}
{% block title %}{{ title }} | Blockspotlight.com{% endblock %}

{% block content %}


<div class="px-1 px-lg-4 py-1 py-lg-2">

    <div class="d-flex flex-wrap align-items-start">
      {% for i in charts %}
      {% if i.type == 'textfield' %}
      <div class="p-2 bd-highlight dashboard-text-panel dashboard-list flex-grow-1 w-25">
        <div class="card p-3 p-md-4 pb-3 dashboard-list h-100 " style="border: 0px; background-color: #16171a !important; min-height: 533px;">
          <div class="py-2 fst-italic muted-text scrollable-div" style="font-size:14px;">
            {% include "widgets/" + i.template + ".html" %}
          </div>
        </div>
      </div>
      {% endif %}
      {% if i.type == 'ai' %}
      <div class="p-2 bd-highlight dashboard-aitext-panel dashboard-list flex-grow-1 w-25">
        <div class="card p-3 p-md-4 pb-3 dashboard-list h-100 " style="border: 0px; background-color: #16171a !important; min-height: 533px;">
          <h5 style="text-align: left;" class="mb-2"><i class="bi bi-blockquote-left" style="margin-right: 5px;"></i>AI - {{i.title}}</h5>
          <div class="py-2 fst-italic muted-text scrollable-div" style="font-size:14px;">
            {{ i.aicontent|safe }}
          </div>
          <div class="text-end mt-3">
            <span class="link-primary link-underline-light link-underline link-underline-opacity-0" style="font-size: 14px;"><i class="bi bi-calendar-check"></i> Generation date: {{i.aidate}} </a>
          </div>
        </div>
      </div>
      {% endif %}
      {% if i.type == 'stats' %}
      <div class="p-2 bd-highlight align-self-stretch dashboard-info-panel mw-lg-25">
        <div class="card p-3 p-md-4 pb-3 dashboard-list h-100" style="border: 0px; background-color: #16171a !important;">
            <h5 style="text-align: left;" class="mb-2"><i class="bi bi-list-columns" style="margin-right: 5px;"></i>{{i.name}}</h5>
            <table class="table stats-table" style="margin-top: 20px;">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col dashboard-element-label">Now</th>
                  <th scope="col dashboard-element-label">-30 Days</th>
                  <th scope="col dashboard-element-label">-60 Days</th>
                </tr>
              </thead>
              <tbody>
              {% for j in i.statobj %}
              <tr>
                <td class="main-stat-name">{{j['indicator_name']}}</td>
                <td class="main-stat-values">
                  {% if j['change_0'] == "+"  %}
                  <i class="bi bi-arrow-up-short change_plus"></i>
                  {% endif  %}
                  {% if j['change_0'] == "-"  %}
                  <i class="bi bi-arrow-down-short change_minus"></i>
                  {% endif  %}
                  {{ "{:,.2f}".format(j['day_0_perc']) }}%
                </td>
                <td class="main-stat-values">
                  {% if j['change_30'] == "+"  %}
                  <span class="change_plus"><i class="bi bi-arrow-up-short change_plus"></i> {{ "{:,.2f}".format(j['day_30_perc']) }}%</span>
                  {% endif  %}
                  {% if j['change_30'] == "-"  %}
                  <span class="change_minus"><i class="bi bi-arrow-down-short change_minus"></i> {{ "{:,.2f}".format(j['day_30_perc']) }}%</span>
                  {% endif  %}
                  {% if j['change_30'] == "="  %} {{ "{:,.2f}".format(j['day_30_perc']) }}% {% endif  %}

                </td>
                <td class="main-stat-values">
                  {% if j['change_60'] == "+"  %}
                  <span class="change_plus"><i class="bi bi-arrow-up-short change_plus"></i> {{ "{:.2f}".format(j['day_60_perc']) }}%</span>
                  {% endif  %}
                  {% if j['change_60'] == "-"  %}
                  <span class="change_minus"><i class="bi bi-arrow-down-short change_minus"></i> {{ "{:,.2f}".format(j['day_60_perc']) }}%</span>
                  {% endif  %}
                  {% if j['change_60'] == "="  %} {{ "{:,.2f}".format(j['day_60_perc']) }}% {% endif  %}
                </td>
              </tr>
              {%endfor%}
              </tbody>
            </table>
            
        </div>
      </div>
      {% endif %}
      {% if i.type in ['chart', 'piechart'] %}
      <div class="p-2 bd-highlight dashboard-chart-panel dashboard-list flex-grow-1 {% if i.type == 'piechart' %} mw-lg-25 {% endif %} {% if i.type != 'piechart' %} w-50 {% endif %}">
          <div class="card p-3 p-md-4 pb-3" style="border: 0px; background-color: #16171a !important; ">
              <div >
                <h5 style="text-align: left; padding: 5px;"><i class="bi bi-graph-up"></i> {{ i.title  }}</h5>
                <div>
                    <div class="col-md" style="text-align: right;">
                      {% if i.stats  %}
                          <ul class="list-group list-group-horizontal price-diff-module price-diff-module-small">
                              <li class="list-group-item ms-auto " style="background-color: transparent; border: none;">
                                  <div class="price-diff-header">Now</div>
                                  <div class="price-diff-value">
                                      {% if i.stats['today']['diff'] == "+"  %}
                                      <i class="bi bi-arrow-up-short change_plus"></i>
                                      {% endif  %}
                                      {% if i.stats['today']['diff'] == "-"  %}
                                      <i class="bi bi-arrow-down-short change_minus"></i>
                                      {% endif  %}
                                      {{"{:,.2f}".format(i.stats['today']['value'])}}
                                  </div>
                              </li>
                              <li class="list-group-item" style="background-color: transparent; border: none;">
                                  <div class="price-diff-header">-30 Days</div>
                                  
                                  {% if i.stats['30']['diff'] == "+"  %}
                                  <div class="price-diff-value change_plus">
                                      <i class="bi bi-arrow-up-short"></i>{{"{:,.2f}".format(i.stats['30']['value'])}}
                                  </div>
                                  {% endif  %}
                                  {% if i.stats['30']['diff'] == "-"  %}
                                  <div class="price-diff-value change_minus">
                                      <i class="bi bi-arrow-down-short"></i>{{"{:,.2f}".format(i.stats['30']['value'])}}
                                  </div>
                                  {% endif  %}
                                  {% if i.stats['30']['diff'] == "="  %}
                                  <div class="price-diff-value">
                                      {{"{:,.2f}".format(i.stats['30']['value'])}}
                                  </div>
                                  {% endif  %}
                                  
                              </li>
                              <li class="list-group-item" style="background-color: transparent; border: none;">
                                  <div class="price-diff-header">-60 Days</div>

                                  {% if i.stats['60']['diff'] == "+"  %}
                                  <div class="price-diff-value change_plus">
                                      <i class="bi bi-arrow-up-short"></i>{{"{:,.2f}".format(i.stats['60']['value'])}}
                                  </div>
                                  {% endif  %}
                                  {% if i.stats['60']['diff'] == "-"  %}
                                  <div class="price-diff-value change_minus">
                                      <i class="bi bi-arrow-down-short"></i>{{"{:,.2f}".format(i.stats['60']['value'])}}
                                  </div>
                                  {% endif  %}
                                  {% if i.stats['60']['diff'] == "="  %}
                                  <div class="price-diff-value">
                                      {{"{:,.2f}".format(i.stats['60']['value'])}}
                                  </div>
                                  {% endif  %}
                              </li>
                          </ul>
                      {% endif  %}
                  </div>
                </div>
              
                <div id='{{i.id}}' class='chart mb-3' style="padding-top: 0px;"></div>
              </div>
              {% if i.href %}
              <div class="text-end mt-3">
                  <a class="link-primary link-underline-light link-underline link-underline-opacity-0" href="{{i.href}}" style="font-size: 14px;">Explore full chart <i class="bi bi-graph-up"></i></a>
              </div>
              {% endif %}
          </div>
      </div>
      {% endif %}
      {%endfor%}
    </div>

    {% for i in charts%}
    <script type='text/javascript'>
        var graphs = {{ i.chart | safe }};
        Plotly.plot('{{ i.id }}',graphs,{});
    </script>
    {%endfor%}
</div>

{% endblock %}