<h2>Bitcoin Holdings by Wallet Size</h2>
<div  class="mt-4 p-4 p-md-5">
<p>This chart displays the distribution of Bitcoin across wallets of varying sizes, categorizing them from "Plankton" to "Humpbacks" based on the amount of Bitcoin they hold. This categorization helps illustrate the diversity of investor sizes within the Bitcoin ecosystem. Below is a detailed overview of each category:</p>
<ul>
  <li><strong>Plankton:</strong> Wallets holding more than 0.01 BTC, representing the broad base of investors with the smallest Bitcoin holdings.</li>
  <li><strong>Shrimps:</strong> Wallets with holdings between 0.01 and 1 BTC, indicating individuals who have begun to accumulate a modest amount of Bitcoin.</li>
  <li><strong>Crabs:</strong> These wallets hold between 1 and 10 BTC, showcasing a significant investment in Bitcoin, suggesting moderate involvement in the cryptocurrency.</li>
  <li><strong>Fish:</strong> With holdings between 10 and 100 BTC, these wallets belong to substantial investors in the Bitcoin market, showing a deep financial commitment.</li>
  <li><strong>Sharks:</strong> Wallets in this category hold between 100 and 1,000 BTC, marking them as major players with a significant impact on market dynamics.</li>
  <li><strong>Whales:</strong> Holding between 1,000 and 10,000 BTC, these wallets are the powerhouses of the Bitcoin ecosystem, with the capacity to influence market movements substantially.</li>
  <li><strong>Humpbacks:</strong> The largest holders, with wallets containing more than 10,000 BTC, representing the most influential participants in the Bitcoin space.</li>
</ul>
<p>This breakdown offers a clear view into how Bitcoin is distributed among different investor classes, highlighting the wide range of participation in the cryptocurrency market.</p>
</div>