<h2 class="muted-text">Bitcoin Realized Price</h2>
<div class="mt-4 p-0 muted-text">
  <p>This chart depicts the realized price of Bitcoin across all market participants. The realized price is calculated by taking the value of all bitcoins at the price they were last moved, divided by the current total supply. This metric provides a comprehensive view of the average cost basis of all Bitcoin holders and is considered a more stable measure of Bitcoin’s value than the often volatile market price.</p>
  <ul>
    <li><strong>Market Maturity:</strong> Observing the realized price helps gauge the maturity of the market. A stable or gradually increasing realized price suggests a healthy market where the majority of holders are not selling at a loss.</li>
    <li><strong>Investor Sentiment:</strong> Shifts in the realized price can indicate changes in overall investor sentiment. For instance, a significant increase may reflect a large influx of new buyers at higher price levels, while a decrease could suggest that holders are moving or selling their bitcoins at lower prices.</li>
    <li><strong>Economic Insights:</strong> This price metric often diverges from the spot market price during extreme market conditions, providing insights into economic behaviors and patterns among Bitcoin holders.</li>
  </ul>
  <p>This Bitcoin realized price chart is essential for investors and analysts looking to understand the underlying economic behaviors in the Bitcoin market, beyond the day-to-day price movements.</p>
</div>