<div>
    <h3>Supply Adjusted Coin Days Destroyed</h3>
    <div style="background-color: #fff; border-radius: 5px;" class="mt-4 p-4 p-md-5">
      <p>This chart illustrates the Supply Adjusted Coin Days Destroyed (SACDD), a refined measure of economic activity on the Bitcoin network that adjusts the traditional Coin Days Destroyed metric for the total circulating supply of Bitcoin. SACDD provides a more accurate reflection of economic activity by considering the proportion of total coins in circulation involved in transactions.</p>
      <ul>
        <li><strong>Understanding SACDD:</strong> SACDD is calculated by taking the Coin Days Destroyed for a given period and dividing it by the total circulating supply of Bitcoin. This adjustment helps normalize the metric across different market phases, providing a consistent view of economic activity regardless of total supply changes over time.</li>
        <li><strong>Market Analysis:</strong> Elevated levels of SACDD indicate that a significant proportion of the circulating supply is being transacted, which might suggest increased market activity or major portfolio adjustments among long-term holders. Lower levels might indicate reduced activity or a holding phase among investors.</li>
        <li><strong>Investor Behavior and Sentiment:</strong> SACDD can provide insights into investor sentiment and behavior. For example, a rising SACDD during a market downturn might suggest capitulation, whereas high levels during a bull market might indicate profit-taking.</li>
      </ul>
      <p>This chart is crucial for financial analysts and investors seeking to understand the depth and significance of Bitcoin transactions in relation to the total circulating supply, offering nuanced insights into market dynamics and potential shifts in investor behavior.</p>
    </div>
</div>