<div style="text-align: left;">
    <h3>What Do These Bitcoin Address Groups Mean?</h3>
    <br/>
    <p>The following outlines each category:</p>
    <ul>
        <li><strong>Plankton:</strong> Wallets with more than 0.01 BTC. This category represents the most populous segment, featuring wallets with minimal Bitcoin holdings engaging in regular small-scale transactions.</li>
        <li><strong>Shrimps:</strong> Wallets holding between 0.01 and 1 BTC. These are small investors who might be gradually increasing their holdings or participating in frequent trading activities.</li>
        <li><strong>Crabs:</strong> Wallets that contain between 1 and 10 BTC. This group shows moderate activity, likely balancing between accumulating more Bitcoin and taking profits.</li>
        <li><strong>Fish:</strong> Holding between 10 and 100 BTC, these wallets belong to serious investors. Their activity might include strategic buying, selling, or holding as part of a larger investment strategy.</li>
        <li><strong>Sharks:</strong> Wallets with holdings of 100 to 1,000 BTC. These are major investors, and their transactions can significantly influence the market. Their activity might include large-scale trades and strategic market movements.</li>
        <li><strong>Whales:</strong> Holding between 1,000 and 10,000 BTC, these wallets are among the elites of the Bitcoin market. Their movements are often watched closely for potential market impact, engaging in less frequent but high-volume transactions.</li>
        <li><strong>Humpbacks:</strong> The largest holders, with more than 10,000 BTC in their wallets. These entities dominate the market with their activities, potentially influencing market trends with single transactions. Their actions are typically strategic and may aim at long-term market positioning.</li>
    </ul>
   
</div>