<div style="text-align: center; margin-bottom:30px;">
    <img src="/static/img/Bitcoin-Logo.png" style="width: 80px;"></img>
</div>
<div style="text-align: center;">
    <h3 style="font-style: normal !important;">What is Bitcoin?</h3>
    <br/>
    <div class="muted-text" style="font-style: normal !important;">
        Bitcoin is a decentralized digital currency that operates without the need for a central authority or bank. It allows users to send and receive payments securely over a peer-to-peer network using blockchain technology. Introduced in 2009 by an anonymous creator known as Satoshi Nakamoto, Bitcoin is widely recognized as the first cryptocurrency. Transactions are verified by network nodes through cryptography and recorded in a public ledger, ensuring transparency and security.
    </div>
</div>